[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
uvicorn = "*"
psycopg2 = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pytest = "*"

[dev-packages]
mypy = "*"
pylint = "*"

[requires]
python_version = "3.10"
