.app__mainContent {
  -webkit-text-size-adjust: 100%;
  --desktop-nav-height: 60px;
  --in-feed-story-item-padding: 14px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  user-select: text !important;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  margin-bottom: 0;
  box-sizing: content-box;
  width: calc(100% - 40px);
  padding: 30px 20px 0;
}

body {
  background-color: #fafafa;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
